@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background-set {
  background-image: url("../public/images/backgroundclassic.png");
  background-size: cover;
  background-position-y: calc(20%);
}

.image-profile {
  max-width: 140px;
}

.text-principal {
  --tw-text-opacity: 1;
  color: rgb(209 209 209 / var(--tw-text-opacity));
}
